# Allow encoded slashes
# AllowEncodedSlashes On

# filepath: /Users/kor/webdev/Blockchain-Bird/KERI/Spec-Up/active-bcb/GitHubUi/.htaccess
RewriteEngine On
RewriteBase /test/spec-up-t-temp/GitHubUi/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
